body {
    background-color: #1F1F1F;
    color: yellow;
}

p#error {
    color: red;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size:140%;
    text-align: center;
}
a {
    color: red;
    font-size:140%;
    text-align: center;
}
a:link{
    color: yellow;
}

a:hover{
    color: green;
}
a:visited {
    color:darkslateblue ;
}

td {
    font-family: 'Times New Roman', Times, serif;
    font-size:140%;
    text-align: center;
}

.error {
     color: red; /* Цвет символа */
     font-size: 100%; /* Размер шрифта */
 }
